/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-description-list-container {
	background-color: #f6f6f6;
	color: white;
	padding: 20px;
}
